.whiteboard{
    border: 3px solid white;
    background-color: white;
    margin: 5px;
}

.p-btn{
    cursor: pointer;
    height: 26px;
    margin: 0;
}

.add-btn{
    background-color: #c6f035;
    color: black;
    padding-right: 5px;
    font-weight: bold;
    margin: 0;
    height: 26px;
    margin-right: 10px;
    width: 36px;
}